#event-group-details
  = link_to "Home", root_path
  
  %h1= @event_group.message
  %table
    - [:environment, :event_type, :last_recorded_at].each do |field|
      %tr
        %td.field_name= field.to_s.humanize
        %td= @event_group.send(field)

#event-details
  = render :partial => "events/details", :object => @events.first, :as => :event
  
#events
  = will_paginate @event, :previous_label => "", :next_label => ""
  %ul
    - @events.each do |event|
      %li= link_to event.event_time, event