!!!
%html
  %head
    %title Whoops
    = stylesheet_link_tag 'screen.css', :media => 'screen, projection'
    /[if IE]
      = stylesheet_link_tag 'ie.css', :media => 'screen, projection'

    %script{:src => "http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.5.2.min.js", :type => "text/javascript"}  
    = javascript_include_tag 'jquery.form.js', 'application.js'
    = yield :extra_javascripts
    = csrf_meta_tag
  %body
    .container
      = yield
      #footer